.card {
  background-color: rgb(192, 193, 235);
  display: grid;
  grid-auto-flow: row;
  border-radius: 1em;
  width: 15em;
  height: 20em;
  color: rgb(87, 106, 107);
  justify-items: center;
  align-items: center;
}

.image {
  background: lightslategrey;
  border-radius: 10em;
  width: 50%;
  align-content: center;
}
